{{#if addNewQuestion}}
<form>
  <div class='form-group'>
    <label for="title">Title</label>
    {{input value=title id='title'}}
  </div>
  <div class='form-group'>
    <label for="questionby">Name</label>
    {{input value=questionby id='questionby'}}
  </div>
  <div class='form-group'>
    <label for="note">Question</label>
    {{textarea value=note id='note'}}
  </div>
  <button {{action 'saveQuestion'}}>Save</button>
</form>

{{else}}
  <button {{action 'questionFormShow'}}>New Question </button>
{{/if}}
{{yield}}
