
<div class='panel panel-info'>
  <div class='panel-heading'>
    <div class='panel-title'>
        <h4>{{question.title}} by {{question.questionby}}</h4>
    </div>
  </div>
  <div class='panel-body'>
    <p class='detail-field'>{{question.note}}</p>
    <button class='btn btn-danger' {{action 'delete' question}}>Delete Question</button>
  </div>
</div>



<ul>
  {{#each question.answers as |answer|}}
    {{answer-tile answer=answer destroyAnswer="destroyAnswer"}}
  {{/each}}
</ul>


{{yield}}
