<h1> Welcome to Super Rentals </h1>

<p>We hope you find exactly what you're looking for in a place to stay.</p>
<ul>
  {{#each model.questions as |question|}}
    {{question-tile question=question}}
  {{/each}}
</ul>


<ul>
  {{#each model.answers as |answer|}}
    <li>{{answer.answerby}}-{{answer.answernote}}</li>
  {{/each}}
</ul>

{{new-answer saveAnswer="saveAnswer"}}




{{new-question saveQuestion="saveQuestion"}}

{{outlet}}
