<h2>Question from {{model.questionby}}</h2>
<div class='panel panel-info'>
  <div class='panel-heading'>
    <div class='panel-title'>
        <h4>{{model.title}} by {{model.questionby}}</h4>
    </div>
  </div>
  <div class='panel-body'>
    <p class='detail-field'>{{model.note}}</p>

    {{update-question question=model update="update"}}
    <button class='btn pull-right btn-danger' {{action 'delete' model}}>Delete Question</button>
  </div>
</div>
{{new-answer saveAnswer="saveAnswer" question=model}}


{{question-detail question=model destroyAnswer="destroyAnswer"}}

{{outlet}}
